<button
  *ngIf="!editing"
  pButton
  pRipple
  type="button"
  pInitEditableRow
  icon="pi pi-pencil"
  (click)="onRowEditInit()"
  class="p-button-rounded p-button-text"
></button>
<button
  *ngIf="!editing"
  pButton
  pRipple
  type="button"
  icon="pi pi-trash"
  (click)="deleteEmployee()"
  class="p-button-rounded p-button-text p-button-danger"
></button>
<button
  *ngIf="editing"
  pButton
  pRipple
  type="button"
  pSaveEditableRow
  icon="pi pi-check"
  (click)="onRowEditSave()"
  class="p-button-rounded p-button-text p-button-success p-mr-2"
></button>
<button
  *ngIf="editing"
  pButton
  pRipple
  type="button"
  pCancelEditableRow
  icon="pi pi-times"
  (click)="onRowEditCancel()"
  class="p-button-rounded p-button-text p-button-danger"
></button>
