<div class="p-d-flex p-ai-center p-jc-between">
  <!-- Button to Add new Employee -->
  <button
    pButton
    pRipple
    label="Add employee"
    class="p-button-outlined"
    icon="pi pi-plus"
    (click)="showAddEmployeeDialog()"
  ></button>

  <h3>Employees</h3>

  <!-- Search field -->
  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input
      pInputText
      type="text"
      (input)="tableReference.filterGlobal($event.target.value, 'contains')"
      placeholder="Search keyword"
    />
  </span>
</div>
